name: Android CI

on:
  # branch로 push되는 경우
  push:
    branches: [ "develop" ]
  # branch로 향하는 PR이 만들어진 경우
  pull_request:
    branches: [ "develop", "refactor*", "fix*", "feature*", "chore*" ]

jobs:
  build:
    name: Keylink CI
    runs-on: ubuntu-latest
    steps:
      # 레포지토리 접근을 위한 checkout
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # 빌드를 위한 셋업
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      # gradle 캐싱 - 매번 빌드할 필요 없음
      - name: Cache Gradle Packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # gradle 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 최종 빌드
      - name: Build with Gradle
        run: ./gradlew build
